body{
    border: 20px solid #bdc3c7;
    padding: 20px;
    max-width: 700px;
    width: 80%;/* will stat at 80% width until it can no longer based on window size then changes to 700px size.*/
    margin: 20px/*(left and right*/ auto/*top and bottom*/;
    font-family: source sans pro;
    
}
h3{
    margin-top: 0%;
    color: #3498db;
    text-transform: uppercase;
}
div:nth-of-type(1) p:nth-of-type(3){
    border-bottom: #f1f1f1 solid;
    padding-bottom: 20px;
}
div:nth-of-type(1) p:nth-of-type(1){
    border-left: 5px solid #bdc3c7;
    padding-left: 10px;
}

div:nth-of-type(2) p:nth-of-type(1){
    border-left: 5px solid #bdc3c7;
    padding-left: 10px;
}
