h1 {
    background-color: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    /* changing the ul so that there are no bullet points*/
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li {
    background-color: rgb(255, 255, 255);
    height: 40px;
    line-height: 40px;
    color:  #666;
}

/* nth0child(2n) will style ever other li or in other words every 2nd li */
li:nth-child(2n) {
    background-color: #f7f7f7;
}

span {
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
}

/*when you hover over the li then something happens changes to 40px to the span that is why it is li:hover span */
li:hover span {
    width: 40px;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    /* lots of different ways to us box-sizing, you can check MDN*/
    box-sizing: border-box;
    color: #2980b9;
}

input:focus {
    background-color: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

#container {
    width: 360px;
    /*centering the div by using 0 for top and bottom and auto for left and right*/
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.fa-plus {
    float: right;
}